<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{dir}}</title>
    <link href="{{internal}}/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{internal}}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{internal}}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{internal}}/icons/favicon-16x16.png">
  </head>
  <body>
    <header>
      <h1> Directory {{dir}}<h1>
    </header>
    <main>
      <ul>
        {{#unless is_root }}
          <li><a href="..">D - ..</a></li>
        {{/unless}}

        {{#each files}}
            <li>
              <a href="{{this.file_name}}">
                {{#if this.is_dir}}
                    D -  
                {{else}}
                    F -  
                {{/if}}
                {{this.file_name}}
              </a>

            </li>
        {{/each}}
      </ul>
    </main>
  </body>
</html>
