<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{dir}}</title>
    <link href="{{internal}}/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{internal}}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{internal}}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{internal}}/icons/favicon-16x16.png">
  </head>
  <body>
    <header>
      <h1> Directory {{dir}}<h1>
    </header>
    <main>
      <ul class="files">
        {{#unless is_root }}
          <li><a href="..">D - ..</a></li>
        {{/unless}}

        {{#each files}}
            <li class="file">
              <a href="{{this.file_name}}">
                {{#if this.is_dir }}
                  <img src="https://picsum.photos/200"/>
                {{else}}
                    {{#if this.file_type}}
                      <img src="{{this.file_type.icons.normal}}"/>
                    {{else}}
                      <img src="https://picsum.photos/200"/>
                    {{/if}}
                {{/if}}

                <h2>{{this.file_name}}</h2>
              </a>
            </li>
        {{/each}}
      </ul>
    </main>
  </body>
</html>
