<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{dir}}</title>
    <link href="{{internal_path}}/style.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{internal_path}}/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{internal_path}}/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{internal_path}}/icons/favicon-16x16.png"
    />
  </head>
  <body>
    <header>
      <h1> Directory {{dir}}</h1>
    </header>
    <main>
      <ul class="files">
        {{#unless is_root}}
          <li class="file">
            <a href="..">
              {{asset "icons/opened_folder.svg"}}
              <h2>..</h2>
            </a>
          </li>
        {{/unless}}

        {{#each files}}
          <li class="file" title="{{this.file_name}}">
            <a href="{{this.file_name}}">
              <div class="file__icon_container">
                {{#if this.is_dir}}
                  {{asset "icons/folder.svg"}}
                {{else}}
                  {{icon_by_mime this.mime}}
                {{/if}}
              </div>
              <h2 class="file__name">{{this.file_name}}</h2>
            </a>
          </li>
        {{/each}}
      </ul>
    </main>
  </body>
</html>
